<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA24pjgaKM1De0cMaVPOiltwTb3utGWFGg</string>
	<key>GCM_SENDER_ID</key>
	<string>691750339558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dragonbear.NinetyNine</string>
	<key>PROJECT_ID</key>
	<string>ninetynine-4c11e</string>
	<key>STORAGE_BUCKET</key>
	<string>ninetynine-4c11e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691750339558:ios:014a19a85b0fa5523c4c27</string>
</dict>
</plist>